@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 24 33% 97%;
    --foreground: 278 23% 17%;

    --card: 0 0% 100%;
    --card-foreground: 278 23% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 278 23% 17%;

    --primary: 196 86% 46%;
    --primary-foreground: 0 0% 100%;

    --secondary: 271 89% 66%;
    --secondary-foreground: 0 0% 100%;

    --muted: 24 33% 97%;
    --muted-foreground: 278 23% 45%;

    --accent: 19 67% 91%;
    --accent-foreground: 278 23% 17%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 278 23% 85%;
    --input: 278 23% 85%;
    --ring: 196 86% 46%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .wave-bg {
    background: linear-gradient(60deg, rgba(249, 115, 22, 0.85) 0%, rgba(255, 87, 51, 0.85) 100%);
    background-size: 400% 400%;
    animation: wave 10s ease infinite;
  }

  @keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .text-balance {
    text-wrap: balance;
  }
}